.in-out-store .domain {
  stroke-width: 1px;
  stroke-opacity: 1;
  /* N600 */
  stroke: #8f95b2;
}

.in-out-store .tick line {
  stroke-dasharray: 5, 5;
  /* N400 */
  stroke: #d8dae5;
}

.in-out-store .tick text {
  /* N700 */
  color: #696f8c;
  font-weight: 500;
  font-size: 10px;
}

.in-out-store .tooltip {
  /* N800 */
  background-color: #474d66;
  width: fit-content;
  position: absolute;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(16, 24, 64, 0.08);
  color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.in-out-store .store-name {
  position: absolute;
  display: inline-flex;
  padding: 0px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background-color: #696f8c;

  /* font */
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
